[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
numba = "*"
matplotlib = "*"
tqdm = "*"
simplejson = "*"
psutil = "*"
jupyterlab = "*"
ipympl = "*"
matplotlib-scalebar = "*"
sphinx = "*"
pdoc3 = "*"
pandoc = "*"
ipywidgets = "*"
pygpufit = {path = "C:/src/gpufit-build/Release/pyGpufit/dist/pyGpufit-1.1.0-py2.py3-none-any.whl"}
pyzmq = "*"
pandas = "*"
scikit-image = "*"
scikit-learn = "*"
pyfftw = "*"
pysimplegui = "*"

[dev-packages]

[requires]
python_version = "3.8"
